<div *ngIf="phones$">
  <div class="container">
    <div class="row">
      <div *ngFor="let p of phones$.phones"> 
        <div class="col-lg d-flex">
          <div class="card flex-fill h-100" style="width:14rem">
            <div class="card-body" routerLink="/Details/{{p.id}}">
              <img class="card-img-top" src = {{p.picture.lowRes}}>
              <h3 class="card-link">{{p.name}}</h3>
              <h4 class="card-text">{{p.qty}} in stock</h4>
              <h4 class="card-text">{{p.price}}</h4>
            </div>
            <button class="btn btn-primary" (click)="addToCart(p.id, 1)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
