 <app-header></app-header>

 <div *ngIf="phone">
 
  <h1><u>{{phone.name}} Phone Details</u></h1>
  <div class="center">
  <div class ="column"><img src = {{phone.picture.highRes}}> </div>
  <div class ="column1"><h4><u>Description:</u> {{phone.description}} </h4> </div>
  <div class="column1"> <h4><u>Price:</u> ${{phone.price}}</h4> </div>
  <div class="column1"><h4><u>Quantity: </u>{{phone.qty}}</h4></div>
  <div class="column1"><h4><u>Buy: </u> <input type="number" [(ngModel)]="value" min=1 max={{phone.qty}}></h4>
    <button type="submit" class="btn btn-primary" (click)=addItemsD(value)>Add To Cart</button>

</div>
<a routerLink="/Products"> Back to Products Page </a>
</div>