.btn-primary{
  color: #841c26;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  text-align: center;
  background-color:white;
  height:90px;
}

img{
  width: 200px;
  height: 300px;
}
h2{
  text-align: center;
  padding-top: 3%;
  color:#191D32;
}
.container{
padding-top: 4%;
text-align: center;
}
.top{
  text-align: center;
}

h4{
display:inline;
padding-inline-start: 5%;
padding-inline-end: 5%;
color: #191D32;
}

button{
color: #841c26;
font-size: 20px;
border-radius: 1px;
border: none;
text-align: right;
background-color:white;
height:40px;
 


}
.column {
float: left;
width: 20%;
padding: 3%;
}
.column1 {
  float: left;
  width: 30%;
  padding:1%;
  padding-top: 3%
  }
  
#row{
overflow:scroll;
}



.bottom{
  align-content: center;
  text-align: center;

}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  }

 
  .column {
    float: left;
    width: 20%;
    padding: 3%;
  }
  
  h4{
    display:inline;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    color: #191D32;
  }
