body {
  text-align: center;
}
.carousel {
  width: auto;
  max-height: 768px;
  overflow: hidden;
}
.carousel .item img {
  max-height: 50px;
  min-width: auto;
}

img{
 width: 55%;
}
button{
  color: #841c26;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  text-align: right;
  background-color:white;
  height:90px;

}
